<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <My.MySettings>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="RemoteIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="FilePort" serializeAs="String">
                <value>9010</value>
            </setting>
            <setting name="RecvFolder" serializeAs="String">
                <value />
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
